*{
    margin: 0;
    padding: 0;
    overflow:hidden;
}
body{
    background-color: rgb(26, 20, 20);
    color: aliceblue;
    display: flex;
    justify-content: center;
}
.box{
    border: 1px solid rgb(152, 195, 59);
    width: 90%;
    max-width: 450px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    margin: 7% auto;
    padding: 22px 20px;
    box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px rgb(213, 186, 186),
    0.3em 0.3em 1em rgba(190, 98, 155, 0.6);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search{
    text-align: center;
    display: flex;
    gap: .5em;
}
#search_btn{
    border: 1px solid rgb(75, 108, 128);
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: none;
}
#search_btn img{
    width: 20px;
    height: 20px;
}
.search_bar{
    border: 1px solid rgb(25, 89, 129); 
    padding: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 10px;
    width: 70%;
    background: none;
    color: rgb(23, 45, 65);
    font-weight: 500;
    
}
.weather{
    text-align: center;
    
}
.weatherImg{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 50px;
}
.weather h2{
    font-size: 40px;
}
.details{
    display: flex;
    justify-content: space-around;
    margin: 40px auto ;
}
p{
    font-size: 15px;
}
.humidity,.windSpeed{
    display: flex;
    gap: .6em;
}
.details img{
    width: 30px;
    height:30px;
}
@media only screen and (max-width: 600px) {
    body {
      background:linear-gradient(135deg,#00feba,#5b548a);
    }
    .box{
        border: none;
        background: none;
        box-shadow: none;
        padding: 0 10px 10px 10px;
    }
    .weather{
        margin-top: 50px;
    }
    .details{
        padding-top: 40px;
        padding-bottom: 80px;
    }
  }
